body {
  /* background: #9999; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
nav ul li a{
  display: inline-block;
  background-color: #eee;
  border:1px solid #ddd;
  border-radius: 5px;
  margin:5px;
  padding:10px;
color:#ff0000;
}
nav ul li a{
  text-decoration: none;
}
nav ul li a:hover{
  background-color: #ff9900;
  color:#fff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 0px;
}
.paragraph{
    color: #000000;
}


.table, th, td {
    border: 1px solid #000000;
    padding:5px;
  }

.courseDetails{
  margin:10px;
}
#message{
  color:#ff9900;
  font-weight: bold;
}

footer {
  text-align: center;
  border-style: solid;
  background-color: #fafcfb;
  
}
.space { margin-top: 150px; }
select{
  padding:7px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: whitesmoke;
}

.container {
    margin-top: 30px;
}
.button
{
    font-size: 12px;
    color:white;
}
.btn {
    font-size: 12px;
    border-radius: 8px;
    background-color: #febc11;
    font-weight: bold;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn_close {
    font-size: 12px;
    border-radius: 8px;
    background-color: red;
    font-weight: bold;
}

.btn_close:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
